@page
@model asp.teamtaco.pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Three bois play games.</p>
    <br>
    <p><< <a asp-area="" asp-page="/Contact">Contact</a> >></p>
</div>