@page
@model asp.teamtaco.pages.GamesModel
@{
    ViewData["Title"] = "Games";
}

<div class="text-center">
    <h1 class="display-4">Games</h1>
    <p>We mainly play Three games: <a target="blank_" href="http://playvalorant.com/en-gb">Valorant</a>, <a target="blank_" href="http://splitgate.com">Splitgate</a>, <a target="blank_" href="http://beatsaber.com">Beat Saber</a>, <a target="blank_" href="https://www.oculus.com/experiences/quest/4979055762136823/">Gorilla Tag</a>,</p>
    <p> And sometimes <a target="blank_" href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/">CS:GO</a> and <a target="blank_" href="https://minecraft.net">Minecraft</a>.</p>
</div>