@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Team Taco</h1>
    <p><a target="blank_"href="https://www.youtube.com/channel/UC-Jmeb2hW7-Orithpwby0Bg">Gaming Youtube Channel</a>.</p>
</div>
