@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I don't think we use your data for anything, but we made this with the default ASP.NET themplate, so ask microsoft lol.</p>
